name: Tutone Generate
on:
  workflow_call:
    inputs:
      tutoneConfig:
        required: true
        type: string
        description: 'The API endpoints for which to generate code'
      packages:
        required: true
        type: string
        description: 'A comma-separated list of packages to generate for which to generate code'
      newMutations:
        required: false
        type: string
        description: 'A comma-separated list of new mutations'

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.24.x

      - run: echo "${{ inputs.tutoneConfig }}"
        shell: bash

      - name: Add GOBIN to PATH
        run: echo "$(go env GOPATH)/bin" >> $GITHUB_PATH
        shell: bash

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.RELEASE_TOKEN }}

      - name: Set up git user
        run: |
          git config --global user.name nr-developer-toolkit
          git config --global user.email nr-developer-toolkit@users.noreply.github.com

      - name: Install Tutone
        run: go install github.com/newrelic/tutone/cmd/tutone@latest

      # TODO: Append configuration to the config file OR write temporary Tutone config file?
      - name: Write config file
        uses: DamianReeves/write-file-action@master
        with:
          path: .tutone.tmp.yml
          contents: ${{ inputs.tutoneConfig }}

      - name: Check config file contents
        run: cat .tutone.tmp.yml
        shell: bash

      - name: Generate new code
        run: tutone generate -c .tutone.tmp.yml --include-integration-test
        env:
          NEW_RELIC_API_KEY: ${{ secrets.NEW_RELIC_API_KEY }}

      # TODO: We shouldn't delete the previous branch because it could have useful updates.
      #       We might want to consider versioning the PRs with a timestamp suffix.
      - name: Remove old automation branch if present
        shell: bash
        run: |
          branch_name="automation/generated-code"
          if git ls-remote --exit-code --heads origin $branch_name > /dev/null; then
            git push origin --delete $branch_name
          fi

      - name: Create pull request
        id: create-pull-request
        uses: peter-evans/create-pull-request@v3
        with:
          base: main
          add-paths: |
            pkg
            .tutone.tmp.yml
            types.go
          author: 'nr-developer-toolkit <nr-developer-toolkit@users.noreply.github.com>'
          token: ${{ secrets.DEV_TOOLKIT_TOKEN }}
          commit-message: 'feat(automation): update generated code'
          signoff: false
          branch: automation/generated-code
          title: 'feat(automation): generate code based on latest API changes'
          body: |
            ### Automated Pull Request

            The following packages have been added or updated: `${{ inputs.packages }}`.

            The following new mutations will be added to the codebase:
            `${{ inputs.newMutations }}`

            Please perform the following actions before merging:
            - [ ] If package is new, export and initialize it in [newrelic/newrelic.go](https://github.com/newrelic/newrelic-client-go/blob/main/newrelic/newrelic.go#L44)
            - [ ] Review the changes to the generated code
            - [ ] Add new integration tests as necessary
            - [ ] Update applicable tests as necessary
            - [ ] Double check the .tutone.yml config file for accuracy

            **Note:** If something looks off or you have questions, please reach out to an Observability as Code team member for assistance.
          labels: |
            enhancement
            automated pr
          draft: true

      - name: Pull request URL
        run: |
          echo "Pull Request: ${{ steps.create-pull-request.outputs.pull-request-url }}"
